{% extends "base.html" %}
{% load staticfiles %}

	{% block title %}
	<title>国药在线Docker管理系统</title>
	{% endblock %}

	{% block breadcrumbs %}
		<ul class="breadcrumb">
			<li>
				<i class="icon-home home-icon"></i>
				首页
			</li>
		</ul>
	{% endblock %}
	{% block page-content %}
	<div class="space-12"></div>
		<div class="col-sm-12 infobox-container">
			<div class="infobox infobox-green  ">
				<div class="infobox-icon">
					<i class="icon-hdd"></i>
				</div>
				<div class="infobox-data">
					<span class="infobox-data-number"><a href="/container/">{{ container_number }}</a></span>
					<div class="infobox-content">容器数量</div>
				</div>
			</div>

			<div class="infobox infobox-blue">
				<div class="infobox-icon">
					<i class="icon-cloud"></i>
				</div>
				<div class="infobox-data">
					<span class="infobox-data-number"><a href="/image/">{{ image_number }}</a></span>
					<div class="infobox-content">镜像数量</div>
				</div>
			</div>

			<div class="infobox infobox-blue3">
				<div class="infobox-icon">
					<i class="icon-desktop"></i>
				</div>
				<div class="infobox-data">
					<span class="infobox-data-number"><a href="/host/">{{ host_number }}</a></span>
					<div class="infobox-content">宿主机数量</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 infobox-container">
            <span>更新时间：xxxxxx</span>

		</div>
	{% endblock %}
    {% block custom_js %}
        <script src={% static "js/bootstrap.min.js" %}></script>
        <script>
            $(function () {
                $(".overlay-loading").text('更新信息中，请稍后......');
                $(".widget-box-overlay").show();
                $.ajax({
                    url: {% url 'dashbord' %},
                    type: 'post',
                    headers: {'X-CSRFtoken': $.cookie('csrftoken')},
                    success: function (res) {
                        $(".widget-box-overlay").hide();
                        console.log(res);
                    },
                    error: function (res) {
                        console.log(res);
                    }
                })
            })
        </script>
    {% endblock %}
